.osd-window, .info-osd, .workspace-osd, .menu-applications-inner-box StScrollView, .starkmenu-favorites-box .menu-context-menu, StScrollView.menu-context-menu StBoxLayout, .popup-sub-menu, .panel-top, .panel-bottom .window-list-item-box, .sound-player-overlay, .workspace-graph .workspace, #LookingGlassDialog, .switcher-list, .window-caption, .expo-background, .expo-workspaces-name-entry {
  background-gradient-direction: vertical;
  background-gradient-start: #100a07;
  background-gradient-end: #100a07; }

.panel-bottom .window-list-item-box:hover {
  background-gradient-direction: vertical;
  background-gradient-start: #110b07;
  background-gradient-end: #110b07; }

.sound-player-overlay StButton, .keyboard-key, .notification-button, .notification-icon-button, .modal-dialog-button {
  background-gradient-direction: vertical;
  background-gradient-start: #6A5829;
  background-gradient-end: #6A5829; }

.sound-player-overlay StButton:hover, .keyboard-key:hover, .notification-button:hover, .notification-icon-button:hover, .modal-dialog-button:hover {
  background-gradient-direction: vertical;
  background-gradient-start: #6f5c2b;
  background-gradient-end: #6f5c2b; }

.panel-top .window-list-item-box, .panel-bottom {
  background-gradient-direction: vertical;
  background-gradient-start: #100a07;
  background-gradient-end: #100a07; }

.panel-top .window-list-item-box:hover {
  background-gradient-direction: vertical;
  background-gradient-start: #110b07;
  background-gradient-end: #110b07; }

.sound-player-overlay StButton:active, .keyboard-key:active, .notification-button:active, .notification-icon-button:active, .modal-dialog-button:active, .modal-dialog-button:pressed, .panel-bottom .window-list-item-box:active, .panel-bottom .window-list-item-box:checked, .panel-bottom .window-list-item-box:focus, .workspace-graph .workspace:active, .calendar-today, .switcher-list .item-box:selected, .window-caption#selected, .expo-workspaces-name-entry#selected {
  background-gradient-direction: vertical;
  background-gradient-start: #55472E;
  background-gradient-end: #55472E; }

.panel-top .window-list-item-box:active, .panel-top .window-list-item-box:checked, .panel-top .window-list-item-box:focus {
  background-gradient-direction: vertical;
  background-gradient-start: #55472E;
  background-gradient-end: #55472E; }

.panel-bottom .window-list-item-box:active:hover, .panel-bottom .window-list-item-box:checked:hover, .panel-bottom .window-list-item-box:focus:hover {
  background-gradient-direction: vertical;
  background-gradient-start: #594b30;
  background-gradient-end: #594b30; }

.panel-top .window-list-item-box:active:hover, .panel-top .window-list-item-box:checked:hover, .panel-top .window-list-item-box:focus:hover {
  background-gradient-direction: vertical;
  background-gradient-start: #594b30;
  background-gradient-end: #594b30; }

.desklet-with-borders, .desklet-with-borders-and-header, .desklet-header, .photoframe-box, .menu, .popup-menu, .popup-combo-menu, .menu-favorites-box, .menu-places-box, .menu-applications-inner-box, .menu-applications-outer-box, .panel-left, .panel-right .window-list-item-box, .window-list-preview, #notification, .modal-dialog, .workspace-thumbnails-background {
  background-gradient-direction: horizontal;
  background-gradient-start: #100a07;
  background-gradient-end: #100a07; }

.panel-left .window-list-item-box, .panel-right {
  background-gradient-direction: horizontal;
  background-gradient-start: #100a07;
  background-gradient-end: #100a07; }

.panel-right .window-list-item-box:hover {
  background-gradient-direction: horizontal;
  background-gradient-start: #110b07;
  background-gradient-end: #110b07; }

.panel-left .window-list-item-box:hover {
  background-gradient-direction: horizontal;
  background-gradient-start: #110b07;
  background-gradient-end: #110b07; }

.panel-right .window-list-item-box:active, .panel-right .window-list-item-box:checked, .panel-right .window-list-item-box:focus {
  background-gradient-direction: horizontal;
  background-gradient-start: #55472E;
  background-gradient-end: #55472E; }

.panel-left .window-list-item-box:active, .panel-left .window-list-item-box:checked, .panel-left .window-list-item-box:focus {
  background-gradient-direction: horizontal;
  background-gradient-start: #55472E;
  background-gradient-end: #55472E; }

.panel-right .window-list-item-box:active:hover, .panel-right .window-list-item-box:checked:hover, .panel-right .window-list-item-box:focus:hover {
  background-gradient-direction: horizontal;
  background-gradient-start: #594b30;
  background-gradient-end: #594b30; }

.panel-left .window-list-item-box:active:hover, .panel-left .window-list-item-box:checked:hover, .panel-left .window-list-item-box:focus:hover {
  background-gradient-direction: horizontal;
  background-gradient-start: #594b30;
  background-gradient-end: #594b30; }

#menu-search-entry, #notification StEntry, .run-dialog-entry, #Tooltip {
  background-gradient-direction: vertical;
  background-gradient-start: #100a07;
  background-gradient-end: #100a07; }

.osd-window, .info-osd, .workspace-osd {
  border: 1px solid #776f61;
  border-radius: 0px;
  color: #bbb29d; }

.slider, .popup-slider-menu-item, .sound-player .slider {
  height: 1em;
  min-width: 15em;
  color: #bbb29d;
  -slider-height: 0.7em;
  -slider-background-color: black;
  -slider-border-color: rgba(187, 178, 157, 0.22);
  -slider-active-background-color: #473b26;
  -slider-active-border-color: #493c27;
  -slider-border-width: 1px;
  -slider-border-radius: 0.3em;
  -slider-handle-radius: 0.7em; }

.separator, .popup-separator-menu-item {
  -gradient-height: 3px;
  -gradient-start: #55472E;
  -gradient-end: #100a07;
  -margin-horizontal: 1em;
  height: 1em; }

#menu-search-entry, #notification StEntry, .run-dialog-entry {
  padding: 2px;
  border-radius: 0px;
  color: #bbb29d;
  border: 1px solid rgba(187, 178, 157, 0.22);
  selection-background-color: #55472E;
  selected-color: #100a07;
  caret-color: #bbb29d;
  caret-size: 0.1em;
  width: 250px;
  height: 1.5em;
  transition-duration: 150; }

.desklet-with-borders, .desklet-with-borders-and-header, .desklet-header, .photoframe-box {
  color: #bbb29d;
  padding: 10px;
  border: 1px solid #776f61; }

.calendar-change-month-back, .calendar-change-month-forward {
  width: 16px;
  height: 16px;
  border-radius: 0px;
  transition-duration: 150; }

.sound-player-overlay StButton, .keyboard-key, .notification-button, .notification-icon-button, .modal-dialog-button {
  border: 1px solid rgba(187, 178, 157, 0.22);
  border-radius: 0px;
  text-align: center;
  color: #bbb29d;
  transition-duration: 150; }

.sound-player-overlay StButton:hover, .keyboard-key:hover, .notification-button:hover, .notification-icon-button:hover, .modal-dialog-button:hover {
  border: 1px solid #493c27; }

.sound-player-overlay StButton:active, .keyboard-key:active, .notification-button:active, .notification-icon-button:active, .modal-dialog-button:active, .modal-dialog-button:pressed {
  color: #100a07; }

.menu, .popup-menu {
  min-width: 100px;
  margin: 0.4em; }

.menu, .popup-menu, .popup-combo-menu {
  padding: 10px;
  border: 1px solid #776f61;
  border-radius: 0px;
  color: #bbb29d; }

.show-processes-dialog-subject, .mount-question-dialog-subject {
  font-weight: bold;
  color: #bbb29d;
  padding-top: 10px;
  padding-left: 17px;
  padding-bottom: 6px; }

.show-processes-dialog-subject:rtl, .mount-question-dialog-subject:rtl {
  padding-left: 0;
  padding-right: 17px; }

.show-processes-dialog-description, .mount-question-dialog-description {
  color: #bbb29d;
  padding-left: 17px;
  width: 28em; }

.menu-applications-inner-box StScrollView, .starkmenu-favorites-box .menu-context-menu {
  padding: 5px;
  margin: 0.5em 0;
  border-radius: 0px;
  border: 1px solid rgba(187, 178, 157, 0.22); }

.menu-favorites-box StScrollView .menu-context-menu StBoxLayout > .popup-menu-item, .starkmenu-favorites-box StScrollView .menu-context-menu StBoxLayout > .popup-menu-item {
  margin: 0;
  padding: .5em .7em; }

.panel-top .window-list-item-box:active, .panel-top .window-list-item-box:checked, .panel-top .window-list-item-box:focus {
  color: #100a07; }

.panel-bottom .window-list-item-box:active, .panel-bottom .window-list-item-box:checked, .panel-bottom .window-list-item-box:focus {
  color: #100a07; }

.panel-left .window-list-item-box:active, .panel-left .window-list-item-box:checked, .panel-left .window-list-item-box:focus {
  color: #100a07; }

.panel-right .window-list-item-box:active, .panel-right .window-list-item-box:checked, .panel-right .window-list-item-box:focus {
  color: #100a07; }

.panel-top .workspace-switcher, .panel-bottom .workspace-switcher {
  padding-left: 2px;
  padding-right: 2px; }

.check-box StBin, .check-box:focus StBin {
  width: 16px;
  height: 16px;
  background-image: url(assets/checkbox-off.svg); }

.radiobutton StBin, .radiobutton:focus StBin {
  width: 16px;
  height: 16px;
  background-image: url(assets/radiobutton-off.svg);
  border-radius: 0px; }

.tile-preview, .tile-hud {
  background-color: rgba(16, 10, 7, 0.5);
  border: 2px solid #776f61; }

.tile-preview.snap, .tile-hud.snap {
  background-color: rgba(16, 10, 7, 0.5);
  border: 2px solid #493c27; }

stage {
  font-family: sans, sans-serif;
  font-size: 1em; }

.cinnamon-link {
  color: #3f51b5;
  text-decoration: underline; }
  .cinnamon-link:hover {
    color: #100a07; }

.label-shadow {
  color: rgba(0, 0, 0, 0.5); }

StScrollBar {
  padding: 2px; }
  StScrollBar StButton#vhandle {
    background-color: #99907f;
    border-radius: 0px; }
    StScrollBar StButton#vhandle:hover {
      background-color: #473b26; }
  StScrollBar StButton#hhandle {
    background-color: #99907f;
    border-radius: 0px; }
    StScrollBar StButton#hhandle:hover {
      background-color: #473b26; }
  StScrollBar StBin#trough {
    background-color: black;
    border-radius: 0px; }

StScrollView.vfade {
  -st-vfade-offset: 68px; }

StScrollView.hfade {
  -st-hfade-offset: 68px; }

StScrollView StScrollBar {
  min-width: 0.8em;
  min-height: 0.8em; }

StScrollView.menu-context-menu {
  border-width: 0;
  padding: 0; }
  StScrollView.menu-context-menu StBoxLayout {
    padding: 5px; }
    StScrollView.menu-context-menu StBoxLayout > .popup-menu-item {
      margin: .2em 0;
      padding: .3em .7em; }

.check-box CinnamonGenericContainer {
  spacing: .2em; }

.check-box:focus:checked StBin {
  background-image: url(assets/checkbox.svg); }

.check-box StLabel {
  font-weight: normal; }

.check-box:checked StBin {
  background-image: url(assets/checkbox.svg); }

.radiobutton CinnamonGenericContainer {
  spacing: .2em;
  height: 18px;
  padding-top: 2px; }

.radiobutton:focus:checked StBin {
  background-image: url(assets/radiobutton.svg); }

.radiobutton StLabel {
  padding-top: 4px;
  font-size: 0.8em;
  box-shadow: none; }

.radiobutton:checked StBin {
  background-image: url(assets/radiobutton.svg); }

#Tooltip {
  padding: 5px 8px;
  color: #bbb29d;
  text-align: center;
  border-radius: 0px; }

.popup-menu-boxpointer {
  -arrow-border-radius: 0px;
  -arrow-background-color: #100a07;
  -arrow-border-width: 1px;
  -arrow-border-color: #776f61;
  -arrow-base: 24px;
  -arrow-rise: 11px; }

.popup-menu-arrow {
  icon-size: 1.14em; }

.popup-sub-menu {
  border: 1px solid rgba(187, 178, 157, 0.22);
  border-radius: 0px;
  padding: 5px;
  margin: 0.5em 0; }
  .popup-sub-menu StScrollBar {
    padding: 2px;
    min-width: 0.8em;
    min-height: 0.8em; }
    .popup-sub-menu StScrollBar StBin#trough {
      background-color: black;
      border-radius: 0px; }
    .popup-sub-menu StScrollBar StBin#vhandle {
      background-color: #99907f;
      border-radius: 0px; }
      .popup-sub-menu StScrollBar StBin#vhandle:hover {
        background-color: #473b26; }

.popup-menu-content {
  padding: 0; }

.popup-menu-item {
  padding: .5em .7em;
  spacing: 1em;
  color: #bbb29d; }
  .popup-menu-item:active {
    background-color: #55472E;
    border-radius: 0px;
    color: #100a07; }
  .popup-menu-item:insensitive {
    font-style: italic; }

.popup-image-menu-item {
  color: #bbb29d; }

.popup-combobox-item {
  spacing: 1em; }

.popup-separator-menu-item {
  -gradient-direction: horizontal; }

.popup-device-menu-item {
  spacing: .5em; }

.popup-inactive-menu-item {
  font-style: italic;
  color: #bbb29d; }

.popup-subtitle-menu-item {
  font-weight: bold; }

.popup-menu-icon {
  icon-size: 1.14em; }

.popup-alternating-menu-item:alternate {
  font-weight: bold; }

.toggle-switch {
  width: 64px;
  height: 22px; }

.toggle-switch-us {
  background-image: url(assets/toggle-off-us.svg); }
  .toggle-switch-us:checked {
    background-image: url(assets/toggle-on-us.svg); }

.toggle-switch-intl {
  background-image: url(assets/toggle-off-intl.svg); }
  .toggle-switch-intl:checked {
    background-image: url(assets/toggle-on-intl.svg); }

.nm-menu-item-icons {
  spacing: .5em;
  icon-size: 1.14em; }

.menu-favorites-box {
  padding: 10px;
  border: 1px solid rgba(187, 178, 157, 0.22);
  border-radius: 0px;
  transition-duration: 150; }

.menu-favorites-button {
  padding: .5em .7em; }
  .menu-favorites-button:hover {
    background-color: #55472E;
    border-radius: 0px;
    color: #100a07; }

.menu-places-box {
  padding: 10px;
  border: 1px solid rgba(187, 178, 157, 0.22);
  border-radius: 0px; }

.menu-places-button {
  padding: .5em .7em; }

.menu-categories-box {
  padding: 10px; }

.menu-applications-inner-box {
  padding: 10px;
  border-radius: 0px;
  border: 1px solid rgba(187, 178, 157, 0.22); }

.menu-applications-outer-box {
  padding: 10px;
  border: 1px solid rgba(187, 178, 157, 0.22);
  border-radius: 0px; }

.menu-application-button {
  padding: .5em .7em; }
  .menu-application-button:highlighted {
    font-weight: bold; }

.menu-application-button-selected {
  padding: .5em .7em;
  background-color: #55472E;
  border-radius: 0px;
  color: #100a07; }
  .menu-application-button-selected:highlighted {
    font-weight: bold; }

.menu-application-button-label:ltr {
  padding-left: 5px; }

.menu-application-button-label:rtl {
  padding-right: 5px; }

.menu-category-button {
  padding: .5em .7em; }

.menu-category-button-greyed {
  padding: .5em .7em;
  color: #bbb29d;
  font-style: italic; }

.menu-category-button-selected {
  padding: .5em .7em;
  background-color: #55472E;
  border-radius: 0px;
  color: #100a07; }

.menu-category-button-label:ltr {
  padding-left: 5px; }

.menu-category-button-label:rtl {
  padding-right: 5px; }

.menu-selected-app-box {
  padding: .25em .5em;
  text-align: right;
  height: 2.5em; }

.menu-selected-app-title {
  font-weight: bold; }

.menu-selected-app-description {
  max-width: 150px; }

.menu-search-box:ltr {
  padding-left: 30px;
  padding-bottom: 5px;
  padding-top: 5px; }

.menu-search-box:rtl {
  padding-right: 30px;
  padding-bottom: 5px;
  padding-top: 5px; }

#menu-search-entry {
  margin: 0.5em 0; }
  #menu-search-entry:focus {
    border: 1px solid #493c27; }

.menu-search-entry-icon {
  icon-size: 1em;
  color: #bbb29d; }

#panel {
  color: #bbb29d;
  height: 2.5em;
  width: 3.2em; }
  #panel:highlight {
    background-color: #55472E; }

.panel-dummy {
  background-color: rgba(255, 0, 0, 0.6); }
  .panel-dummy:entered {
    background-color: rgba(0, 255, 0, 0.6); }

.panelLeft {
  spacing: 4px; }
  .panelLeft:dnd {
    background-color: rgba(255, 0, 0, 0.6); }
  .panelLeft:ltr {
    padding-right: 4px; }
  .panelLeft:rtl {
    padding-left: 4px; }
  .panelLeft.vertical {
    padding: 0; }

.panelCenter {
  spacing: 4px; }
  .panelCenter:dnd {
    background-color: rgba(0, 255, 0, 0.6); }
  .panelCenter.vertical {
    padding-left: 0;
    padding-right: 0; }

.panelRight {
  spacing: 4px; }
  .panelRight:dnd {
    background-color: rgba(0, 0, 255, 0.6); }
  .panelRight:ltr {
    padding-left: 0;
    spacing: 0; }
  .panelRight:rtl {
    padding-right: 0;
    spacing: 0; }
  .panelRight.vertical {
    padding: 0; }

.panel-top {
  border-bottom: 1px solid;
  border-color: #776f61; }
  .panel-top .applet-box {
    padding: 1px 3px;
    margin-bottom: 2px; }
  .panel-top .panel-launchers .launcher:hover {
    border-bottom: 2px solid;
    border-color: #493c27; }

.panel-bottom {
  border-top: 1px solid;
  border-color: #776f61; }
  .panel-bottom .applet-box {
    padding: 1px 3px;
    margin-top: 2px; }
  .panel-bottom .panel-launchers .launcher:hover {
    border-top: 2px solid;
    border-color: #493c27; }

.panel-left {
  border-right: 1px solid;
  border-color: #776f61; }
  .panel-left .window-list-item-box {
    margin-right: 1px; }
  .panel-left .applet-box {
    padding: 3px 1px;
    margin-right: 2px; }
  .panel-left .workspace-switcher.panel-right .workspace-switcher {
    padding-top: 3px;
    padding-bottom: 3px; }
  .panel-left .panel-launchers .launcher:hover {
    border-right: 3px solid;
    border-color: #493c27; }

.panel-right {
  border-left: 1px solid;
  border-color: #776f61; }
  .panel-right .window-list-item-box {
    margin-left: 2px; }
  .panel-right .applet-box {
    padding: 3px 1px;
    margin-left: 2px; }
  .panel-right .panel-launchers .launcher:hover {
    border-left: 3px solid;
    border-color: #493c27; }

#appMenu {
  spacing: 4px; }

.panel-button {
  -natural-hpadding: 6px;
  -minimum-hpadding: 2px;
  font-weight: bold;
  color: #bbb29d;
  transition-duration: 150; }
  .panel-button #appMenuIcon {
    app-icon-bottom-clip: 1px; }
  .panel-button:active #appMenuIcon {
    app-icon-bottom-clip: 2px; }
  .panel-button:active > .system-status-icon {
    icon-shadow: black 0 2px 2px; }
  .panel-button:checked #appMenuIcon {
    app-icon-bottom-clip: 2px; }
  .panel-button:checked > .system-status-icon {
    icon-shadow: black 0 2px 2px; }
  .panel-button:focus #appMenuIcon {
    app-icon-bottom-clip: 2px; }
  .panel-button:focus > .system-status-icon {
    icon-shadow: black 0 2px 2px; }
  .panel-button:hover {
    color: #55472E; }

.applet-separator {
  padding: 5px 4px; }

.applet-separator-line {
  width: 2px;
  background: #55472E; }

.applet-separator-line-vertical {
  border-color: #55472E;
  border-bottom: 2px solid; }

.applet-spacer:highlight {
  border: 1px solid #493c27; }

.applet-box {
  color: #bbb29d;
  transition-duration: 150;
  border-radius: 0px; }
  .applet-box:checked {
    color: #55472E; }
    .applet-box:checked .applet-label {
      color: #55472E; }
  .applet-box:hover {
    color: #55472E; }
    .applet-box:hover .applet-label {
      color: #55472E; }
  .applet-box:highlight {
    border: 1px solid #493c27;
    color: #55472E; }
    .applet-box:highlight .applet-label {
      color: #55472E; }

.applet-label {
  font-weight: bold;
  color: #bbb29d; }

.applet-icon {
  color: #bbb29d;
  icon-size: 1.14em;
  padding: 0;
  spacing: 0; }

.system-status-icon {
  icon-size: 1.14em;
  padding: 0;
  spacing: 0; }
  .system-status-icon.warning {
    color: #ef6c00; }
  .system-status-icon.error {
    color: #f44336; }

.panel-status-button {
  -natural-hpadding: 3px;
  -minimum-hpadding: 3px;
  font-weight: bold;
  color: #bbb29d;
  height: 2em; }
  .panel-status-button:hover {
    color: #55472E; }

.user-box {
  padding: 0.4em 1.3em;
  spacing: 10px; }

.user-icon {
  padding: 4px; }

.user-label {
  color: #bbb29d;
  font-weight: bold; }

.window-list-box {
  spacing: 3px;
  padding: 3px 10px; }
  .window-list-box.vertical {
    spacing: 3px;
    padding: 10px 3px; }
  .window-list-box #appMenuIcon {
    padding: 1px; }

.window-list-item-box {
  border: 1px solid rgba(187, 178, 157, 0.22);
  border-radius: 0px;
  transition-duration: 150; }
  .window-list-item-box:hover {
    border: 1px solid #493c27; }
  .window-list-item-box:highlight {
    border: 1px solid #493c27; }
  .window-list-item-box .progress {
    background-color: #4caf50;
    border: 1px solid #493c27;
    border-radius: 0px;
    color: #100a07; }

.window-list-item-demands-attention {
  background-color: #03a9f4;
  color: #100a07; }

.window-list-preview {
  border-radius: 0px;
  border: 1px solid #776f61;
  padding: 10px 15px;
  spacing: 1em;
  color: #bbb29d; }

.sound-player StButton {
  width: 18px;
  height: 18px;
  padding: 5px;
  color: #bbb29d; }
  .sound-player StButton:small {
    width: 16px;
    height: 16px;
    padding: 1px; }
    .sound-player StButton:small StIcon {
      icon-size: 1em; }
  .sound-player StButton StIcon {
    icon-size: 1.5em; }

.sound-player StBoxLayout {
  spacing: 0.5em; }

.sound-player > StBoxLayout {
  padding: 5px; }

.sound-player-generic-coverart {
  background: rgba(0, 0, 0, 0.2); }

.sound-player-overlay {
  width: 300px;
  padding: 12px 16px;
  spacing: 0.5em;
  color: #bbb29d; }
  .sound-player-overlay StButton {
    border-radius: 0px;
    padding: 8px; }
    .sound-player-overlay StButton:focus {
      color: #100a07; }
    .sound-player-overlay StButton > StIcon {
      icon-size: 1.5em; }
  .sound-player-overlay StBoxLayout {
    padding-top: 2px; }

.workspace-button {
  width: 2em;
  height: 1em;
  color: #bbb29d;
  border: 1px solid rgba(187, 178, 157, 0.22);
  margin: 2px;
  transition-duration: 150; }
  .workspace-button:outlined {
    background-color: #55472E;
    color: #100a07;
    border-color: #493c27; }

.workspace-graph {
  padding: 2px;
  spacing: 2px; }
  .workspace-graph .workspace {
    border: 1px solid rgba(187, 178, 157, 0.22); }
    .workspace-graph .workspace:active {
      border: 1px solid rgba(187, 178, 157, 0.22); }
      .workspace-graph .workspace:active .windows {
        -active-window-background: rgba(255, 255, 255, 0.8);
        -active-window-border: rgba(0, 0, 0, 0.9);
        -inactive-window-background: rgba(140, 140, 140, 0.8);
        -inactive-window-border: rgba(0, 0, 0, 0.7); }
    .workspace-graph .workspace .windows {
      -active-window-background: rgba(140, 140, 140, 0.8);
      -active-window-border: rgba(0, 0, 0, 0.7);
      -inactive-window-background: rgba(140, 140, 140, 0.8);
      -inactive-window-border: rgba(0, 0, 0, 0.7); }

.panel-launchers {
  padding: 1px 4px;
  spacing: 4px; }
  .panel-launchers.vertical {
    padding: 4px 1px;
    spacing: 4px; }
    .panel-launchers.vertical .launcher .icon-box {
      padding-top: 0; }

.notification-applet-padding {
  padding: .5em 1em; }

.notification-applet-container {
  max-height: 100px; }

.systray {
  spacing: 3px; }

.flashspot {
  background-color: #55472E; }

.calendar {
  padding: 1em 1.75em;
  spacing-rows: 1px;
  spacing-columns: 5px; }

.calendar-month-label {
  color: #bbb29d;
  font-size: 0.8em;
  padding: 5px 10px;
  border-radius: 0px;
  font-weight: bold;
  text-align: center; }

.calendar-change-month-back {
  border: 1px solid transparent;
  background-image: url(assets/calendar-arrow-left.svg); }
  .calendar-change-month-back:rtl {
    background-image: url(assets/calendar-arrow-right.svg); }
  .calendar-change-month-back:hover {
    border: 1px solid #55472E; }
  .calendar-change-month-back:active {
    background-color: #55472E; }

.calendar-change-month-forward {
  border: 1px solid transparent;
  background-image: url(assets/calendar-arrow-right.svg); }
  .calendar-change-month-forward:rtl {
    background-image: url(assets/calendar-arrow-left.svg); }
  .calendar-change-month-forward:hover {
    border: 1px solid #55472E; }
  .calendar-change-month-forward:active {
    background-color: #55472E; }

.datemenu-date-label {
  padding: 1em 1.75em;
  color: #bbb29d;
  font-weight: bold;
  text-align: center; }

.calendar-day-base {
  font-size: 0.8em;
  text-align: center;
  width: 2.4em;
  height: 1.8em;
  border-radius: 0px; }
  .calendar-day-base:active {
    background-color: #55472E; }

.calendar-day-heading {
  color: #bbb29d;
  padding-top: 0.9em; }

.calendar-week-number {
  color: #bbb29d;
  font-weight: bold;
  padding-top: 0.6em; }

.calendar-day:ltr {
  color: #bbb29d;
  padding: 2px; }

.calendar-day:rtl {
  color: #bbb29d;
  padding: 3px; }

.calendar-nonwork-day {
  font-weight: bold; }

.calendar-today {
  font-weight: bold; }
  .calendar-today:active {
    color: #100a07; }

.calendar-other-month-day {
  font-style: italic; }

.calendar-day-with-events {
  background-color: #55472E;
  font-weight: bold; }
  .calendar-day-with-events:active {
    color: #100a07; }

#keyboard {
  background-color: rgba(16, 10, 7, 0.5); }

.keyboard-key {
  min-height: 1.5em;
  min-width: 2.5em; }
  .keyboard-key:grayed {
    color: #100a07;
    border-color: #100a07; }
  .keyboard-key:checked {
    border-color: #493c27; }

.keyboard-layout {
  spacing: 10px;
  padding: 10px; }

.keyboard-row {
  spacing: 15px; }

.keyboard-subkeys {
  color: #bbb29d;
  padding: 5px;
  -arrow-border-radius: 0px;
  -arrow-background-color: #100a07;
  -arrow-border-width: 1px;
  -arrow-border-color: #bbb29d;
  -arrow-base: 20px;
  -arrow-rise: 10px;
  -boxpointer-gap: 5px; }

.magnifier-zoom-region {
  border: 3px solid #776f61; }
  .magnifier-zoom-region.full-screen {
    border-width: 0; }

#notification {
  border-radius: 0px;
  border: 1px solid #776f61;
  padding: 8px;
  spacing-rows: 5px;
  spacing-columns: 10px;
  margin-from-right-edge-of-screen: 20px;
  width: 34em;
  color: #bbb29d; }
  #notification.multi-line-notification {
    padding-bottom: 8px;
    color: #bbb29d; }
  #notification StEntry:focus {
    border: 1px solid #493c27; }

.notification-with-image {
  min-height: 159px;
  color: #bbb29d; }

#notification-scrollview {
  max-height: 10em; }
  #notification-scrollview > .top-shadow {
    height: 1em; }
  #notification-scrollview > .bottom-shadow {
    height: 1em; }
  #notification-scrollview:ltr > StScrollBar {
    padding-left: 6px; }
  #notification-scrollview:rtl > StScrollBar {
    padding-right: 6px; }

#notification-body {
  spacing: 5px; }

#notification-actions {
  spacing: 10px; }

.notification-button {
  border-radius: 0px;
  padding: 4px 8px 5px; }
  .notification-button:focus {
    color: #100a07;
    padding: 3px 8px 4px; }

.notification-icon-button {
  border-radius: 0px;
  padding: 5px; }
  .notification-icon-button:focus {
    color: #100a07;
    padding: 4px; }
  .notification-icon-button > StIcon {
    icon-size: 3.5em; }

.modal-dialog {
  border: 1px solid #776f61;
  border-radius: 0px;
  color: #bbb29d;
  padding: 20px 30px; }

.modal-dialog-button-box {
  spacing: 21px; }

.modal-dialog-button {
  margin-left: 10px;
  margin-right: 10px;
  padding: 4px 32px 5px; }
  .modal-dialog-button:focus {
    color: #100a07;
    padding: 3px 31px 4px; }
  .modal-dialog-button:disabled {
    color: #3c3c3c; }

.run-dialog-label {
  color: #bbb29d;
  padding-bottom: 10px; }

.run-dialog-error-label {
  color: #55472E; }

.run-dialog-error-box {
  padding-top: 15px;
  spacing: 5px; }

.run-dialog-completion-box {
  padding-left: 15px; }

.run-dialog-entry:focus {
  border: 1px solid #493c27; }

.run-dialog {
  border-radius: 0px;
  padding: 15px 20px; }

.cinnamon-mount-operation-icon {
  icon-size: 4.8em; }

.mount-password-reask {
  color: #ef6c00; }

.show-processes-dialog {
  spacing: 24px; }

.mount-question-dialog {
  spacing: 24px; }

.show-processes-dialog-description:rtl {
  padding-right: 17px; }

.mount-question-dialog-description:rtl {
  padding-right: 17px; }

.show-processes-dialog-app-list {
  max-height: 200px;
  padding-top: 24px;
  padding-left: 49px;
  padding-right: 32px; }
  .show-processes-dialog-app-list:rtl {
    padding-right: 49px;
    padding-left: 32px; }

.show-processes-dialog-app-list-item {
  color: #bbb29d; }
  .show-processes-dialog-app-list-item:hover {
    color: #bbb29d; }
  .show-processes-dialog-app-list-item:ltr {
    padding-right: 1em; }
  .show-processes-dialog-app-list-item:rtl {
    padding-left: 1em; }

.show-processes-dialog-app-list-item-icon:ltr {
  padding-right: 17px; }

.show-processes-dialog-app-list-item-icon:rtl {
  padding-left: 17px; }

.osd-window {
  padding: 20px;
  spacing: 1em; }
  .osd-window .level {
    height: 0.7em;
    border-radius: 0.3em;
    background-color: black; }
  .osd-window .level-bar {
    border-radius: 0.3em;
    background-color: #473b26; }

.info-osd {
  font-size: 1.5em;
  padding: 20px;
  text-align: center; }

.workspace-osd {
  padding: 10px;
  font-size: 1.2em; }

.lightbox {
  background-color: rgba(16, 10, 7, 0.5); }

.about-content {
  min-width: 250px;
  min-height: 150px;
  spacing: 8px;
  padding-bottom: 16px; }

.about-title {
  font-size: 1.4em;
  font-weight: bold; }

.about-uuid {
  font-size: .8em; }

.about-icon {
  padding-right: 20px; }

.about-scrollBox {
  border: 1px solid #776f61;
  border-radius: 0px; }

.about-scrollBox-innerBox {
  padding: 1.2em;
  spacing: 1.2em; }

.about-description {
  padding-top: 4px; }

.about-version {
  padding-left: 7px; }

#LookingGlassDialog {
  spacing: 4px;
  padding: 10px;
  border: 1px solid #776f61;
  border-radius: 0px;
  color: #bbb29d; }

.desklet {
  padding: 10px;
  color: #bbb29d;
  border-radius: 0px;
  background-color: rgba(16, 10, 7, 0.5); }
  .desklet:highlight {
    background-color: #55472E; }

.desklet-with-borders {
  border-radius: 0px; }
  .desklet-with-borders:highlight {
    background-color: #55472E; }

.desklet-with-borders-and-header {
  border-radius-bottomleft: 0px;
  border-radius-bottomright: 0px; }
  .desklet-with-borders-and-header:highlight {
    background-color: #55472E; }

.desklet-header {
  font-size: 1.2em;
  border-radius-topleft: 0px;
  border-radius-topright: 0px; }
  .desklet-header:highlight {
    background-color: #55472E; }

.photoframe-box {
  border-radius: 0px; }
  .photoframe-box:highlight {
    background-color: #55472E; }

.desklet-drag-placeholder {
  border: 2px solid #55472E;
  background-color: rgba(16, 10, 7, 0.5);
  border-radius: 0px; }

.launcher {
  padding: 1px;
  transition-duration: 150; }
  .launcher .icon-box {
    padding-top: 2px; }

#altTabPopup {
  padding: 8px;
  spacing: 16px; }

.switcher-list {
  border-radius: 0px;
  border: 1px solid #776f61;
  padding: 20px;
  color: #bbb29d; }
  .switcher-list .item-box {
    padding: 8px;
    border-radius: 0px; }
    .switcher-list .item-box:outlined {
      padding: 6px;
      border: 1px solid rgba(187, 178, 157, 0.22); }
    .switcher-list .item-box:selected {
      color: #100a07; }
  .switcher-list .thumbnail-box {
    padding: 2px;
    spacing: 4px;
    color: #bbb29d; }
  .switcher-list .thumbnail {
    min-width: 20em; }
  .switcher-list .separator {
    width: 1px;
    background-color: #55472E; }

.switcher-list-item-container {
  spacing: 8px; }

.thumbnail-scroll-gradient-left {
  background-gradient-direction: horizontal;
  background-gradient-start: #333333;
  background-gradient-end: rgba(51, 51, 51, 0);
  border-radius: 0px;
  border-radius-topright: 0;
  border-radius-bottomright: 0;
  width: 60px; }

.thumbnail-scroll-gradient-right {
  background-gradient-direction: horizontal;
  background-gradient-start: rgba(51, 51, 51, 0);
  background-gradient-end: #333333;
  border-radius: 0px;
  border-radius-topleft: 0;
  border-radius-bottomleft: 0;
  width: 60px; }

.switcher-arrow {
  border-color: transparent;
  color: #bbb29d; }
  .switcher-arrow:highlighted {
    border-color: transparent;
    color: #100a07; }

.switcher-preview-backdrop {
  background-color: rgba(25, 25, 25, 0.65); }

#overview {
  spacing: 12px; }

.workspace-controls {
  visible-height: 3em; }

.workspace-thumbnails-background {
  padding: 10px;
  border: 1px solid #776f61;
  border-radius: 0px; }

.workspace-thumbnails {
  spacing: 14px; }

.workspace-add-button {
  background-image: url(assets/add-workspace.png);
  height: 200px;
  width: 35px;
  border-radius-topleft: 10px;
  border-radius-bottomleft: 10px;
  transition-duration: 150;
  background-color: #03a9f4;
  border-top: 1px solid;
  border-left: 1px solid;
  border-bottom: 1px solid;
  border-color: rgba(187, 178, 157, 0.22); }
  .workspace-add-button:hover {
    background-image: url(assets/add-workspace-hover.png);
    border-color: #493c27; }
  .workspace-add-button:active {
    background-image: url(assets/add-workspace.png);
    border-color: #493c27;
    background-color: #4caf50; }

.workspace-close-button {
  background-image: url(assets/close-window.svg);
  height: 32px;
  width: 32px;
  -cinnamon-close-overlap: 20px; }

.workspace-overview-background-shade {
  background-color: rgba(16, 10, 7, 0.5); }

.workspace-thumbnail-indicator {
  border: 2px solid #776f61; }

.window-caption {
  padding: 10px;
  border: 1px solid #776f61;
  border-radius: 0px;
  padding: 2px 8px;
  color: #bbb29d;
  -cinnamon-caption-spacing: 4px; }
  .window-caption#selected {
    color: #100a07; }

.window-close {
  background-image: url(assets/close-window.svg);
  height: 32px;
  width: 32px;
  -cinnamon-close-overlap: 20px; }
  .window-close:rtl {
    -st-background-image-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5); }

.window-close-area {
  background-image: url(assets/trash-icon.png);
  background-size: 100px;
  background-color: rgba(16, 10, 7, 0.5);
  border: 1px solid #776f61;
  border-bottom-width: 0;
  border-radius: 20px 20px 0 0;
  height: 120px;
  width: 400px; }

.expo-workspace-thumbnail-frame {
  border: 1px solid #776f61; }
  .expo-workspace-thumbnail-frame#active {
    border: 1px solid #493c27; }

.expo-workspaces-name-entry {
  padding: 10px;
  border: 1px solid #776f61;
  border-radius: 0px;
  selected-color: #100a07;
  selection-background-color: #55472E;
  color: #bbb29d;
  min-width: 10em;
  height: 1.5em;
  text-align: center; }
  .expo-workspaces-name-entry#selected {
    color: #100a07;
    selected-color: #bbb29d;
    selection-background-color: #55472E;
    border: 1px solid #493c27; }
  .expo-workspaces-name-entry:focus {
    border: 1px solid #493c27; }
  .expo-workspaces-name-entry:hover {
    border: 1px solid #493c27; }

.ripple-box {
  width: 104px;
  height: 104px;
  background-image: url(assets/corner-ripple.png);
  background-color: #55472E;
  border-radius: 52px; }

.tile-hud:top {
  border-top-width: 0;
  border-radius: 0 0 10px 10px; }

.tile-hud:bottom {
  border-bottom-width: 0;
  border-radius: 0px 0px 0 0; }

.tile-hud:left {
  border-left-width: 0;
  border-radius: 0 10px 10px 0; }

.tile-hud:right {
  border-right-width: 0;
  border-radius: 10px 0 0 10px; }

.tile-hud:top-left {
  border-top-width: 0;
  border-left-width: 0;
  border-radius: 0 0 10px 0; }

.tile-hud:top-right {
  border-top-width: 0;
  border-right-width: 0;
  border-radius: 0 0 0 10px; }

.tile-hud:bottom-left {
  border-bottom-width: 0;
  border-left-width: 0;
  border-radius: 0 10px 0 0; }

.tile-hud:bottom-right {
  border-bottom-width: 0;
  border-right-width: 0;
  border-radius: 10px 0 0 0; }
